    header{
        /* width: 100%; */
        min-height: 30px;
        /* background: #000000e8; */
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
        flex-wrap: wrap;
        padding-right: 50px;
        box-shadow:0px 0px 20px;
    }

    header a{
        color: white;
        text-transform: uppercase;
        letter-spacing: 1.3px;
    }
    header ul li{
        display: inline-block;
        padding: 20px 50px;
        opacity: 0.7;
    }

    header ul li:hover{
        opacity: 1;
    }

    header ul li img{
        width: 30px;
        height: 30px;
        transform: translateY(5px);
        border-radius: 50%;
        margin: auto;
    }
    
    /* --------- Dropdown ---------- */
    .drop-nav{
        position: relative;
        padding: 10px 0;
    }
    .drop-nav a{
        text-transform: capitalize;
        overflow: hidden;
    }
    .drop-nav .dropdown{
        position: absolute;
        background: #282c34;
        width: 100%;
        width: calc(100% + 30px);
        top: 50px;
        display: none;
    }
    .drop-nav .dropdown li{
        display: block;
    }
    .drop-nav:hover .dropdown{
        display: block;
    }